<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Forgot Password</title>
  </head>
  <body>
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Forgot Password</h3>
        </div>
        <div class="card-body">
            <form action="{% url 'get_email' %}" class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
                {% csrf_token %}
                <div>
                    {% if er_msg %}
                    <ul class="messages">
                        {% for er_msg in er_msg %}
                         <li style="color: rgb(179,179,179);"{% if er_msg.tags %} class="{{er_msg.tags}}"{% endif %}>{{ er_msg }}
                         </li>
                         {% endfor %}
                     </ul>
                     {% endif %}
                
                <form action="{% url 'get_otp' %}" class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST"></form>
                <div class="form-group">
                    <label for="uname1">Email</label>
                    <input type="email" class="form-control" name="em" placeholder="Please enter your email" id="uname1" required="">
                    <span id="helpResetPasswordEmail" class="form-text small text-muted">
                        OTP will be sent to this email address.
                    </span>
                    
                      
                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">GET OTP</button> 
                    
             </form>
        </div>
        <!--/card-body-->
    </div>
</body>
