<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Reset Password</title>
</head>
<body>
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Reset Password</h3>
    </div>

    <body>
        <div class="card card-outline-secondary">
            <div class="card-header">
                <div class="card card-outline-secondary">
                    <form class="form" action="{% url 'get_newpassword' %}" method='POST' role="form" autocomplete="off">
                        {% csrf_token %}
                        
                    <!-- {% if messages %}
                <ul class="messages">
                    {% for messages in messages %}
                     <li style="color: rgb(179,179,179);"{% if messages.tags %} class="{{messages.tags}}"{% endif %}>{{ messages }}
                     </li>
                     {% endfor %}
                 </ul>
                 {% endif %}
                        <div> -->
                            {% if messages %}
                            <h3>
                                <font color="#ff0000" face="chiller">
                                 {{ messages }}
                                 </font>
                            </h3>
                                 
                             {% endif %}          
                
            
            <div class="card-body">
                <form action="{% url 'login' %}" method="POST" class="form" role="form" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="uname1">Email</label>
                        <input type="email" class="form-control" name="em" placeholder="Please enter your email" id="uname1" required="">
                        </div>
                    
                    <div class="form-group">
                        <label for="inputPasswordNew">New Password</label>
                        <input type="password" class="form-control" id="inputPasswordNew"  name="nps" placeholder="enter your new password" required>
                        <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify">Repeat Password</label>
                        <input type="password" class="form-control" name="cps" id="inputPasswordNewVerify" required >
                        <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    </html>
    

        
                    




















































